.search-container {
  margin-bottom: 15px;
}

mat-form-field {
  position: absolute;
  top: 0px;
  right: 15px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(250 250 250 / 2) !important;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  display: inline;
  position: absolute;
  left: calc(50% - 26px);
  top: 5px;
}
