<div class="footer-container">
  <mat-grid-list
    cols="4"
    rowHeight="1:0.7"
    gutterSize="20px"
  >
    <mat-grid-tile>
      <div class="mat-grid-tile__inside website-owner">
        <h3>Website owner</h3>
        <u>
          <li>Company TNHH one person AnhbT Ltd</li>
          <li><span>ĐKDN number: 0105392153</span></li>
          <li><span>Date received: 4-7-2011</span></li>
          <li><span>Place of receipt: So ke hoach - dau tu Ha Noi</span></li>
        </u>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="mat-grid-tile__inside introduce">
        <h3>Introduce</h3>
        <u>
          <li>Self-taught software engineer class - AnhBT</li>
          <li>Lecturer</li>
          <li>Regulation</li>
          <li>Guide to buying course</li>
        </u>
      </div>
    </mat-grid-tile>


    <mat-grid-tile>
      <div class="mat-grid-tile__inside recommend">
        <h3>Advising education enrollment</h3>
        <u>
          <li>Bien Tu Anh software engineer</li>
          <li><span>Phone: 0964 542 640</span></li>
        </u>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="mat-grid-tile__inside position">
        <h3>Address</h3>
        <u>
          <li><span>No 20, 514 Tran Cung street, Bac Tu Niem ward, Ha Noi</span></li>
        </u>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
