<h2>Add user information</h2>

<mat-grid-list
  cols="2"
  rowHeight="1:1"
>
  <!-- Add user information -->
  <mat-grid-tile>
    <form class="example-container" (submit)="addUserInfo()" [formGroup]="addUserForm">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="addUserForm">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="addUserForm">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="addUserForm">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="option">Male</mat-option>
          <mat-option value="option">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Birth of date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="addUserForm">{{getBirthOfDateErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Comment for us</mat-label>
        <textarea
          matInput
          formControlName="comment"
        ></textarea>
        <mat-error *ngIf="addUserForm">{{getCommentErrorMessage()}}</mat-error>
      </mat-form-field>

      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="submit-btn"
        [disabled]="!addUserForm.valid"
      >Submit</button>
    </form>
  </mat-grid-tile>

  <!-- Avatar image of user -->
  <mat-grid-tile>
    <div class="img-container">
      <img src="assets/images/mock-avatar-1.jpg" alt="">
    </div>
    <button
      type="button"
      mat-raised-button
      (click)="fileInput.click()"
      class="choose-file-btn"
    >Choose File</button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
  </mat-grid-tile>
</mat-grid-list>


