<!-- Search form -->
<app-search></app-search>

<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <!-- Table page -->
    <table mat-table [dataSource]="listUserService.users" matSort [style.opacity]="listUserService.opacityVale">
      <!-- Avatar Column -->
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
        <td mat-cell *matCellDef="let element">
          <img src="{{element.avatar}}" alt="">
        </td>
      </ng-container>

      <!-- Name Column  -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Birthday Column -->
      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </th>
        <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Spinner - Loading of data -->
    <mat-spinner
      *ngIf="listUserService.isDisplaySpinner"
      [diameter]="70"
    ></mat-spinner>
  </div>

  <!-- Pagination of table -->
  <app-pagination></app-pagination>
</div>


