.example-container {
  position: relative;
  min-height: 300px;

  .example-table-container {
    position: relative;
    max-height: 600px;
    overflow: auto;
  }

  table {
    width: 100%;
    // opacity: 0.5;

    img {
      width: 100px;
      padding: 10px 10px 10px 0px;
    }
  }

  th.mat-sort-header-sorted {
    color: black;
  }
}

:host {
  width: 100%;
}


mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
}
