<app-shopping-card-header
  [itemNumbers]="itemNumbers"
></app-shopping-card-header>

<app-shopping-card-body
  [items]="items"
  (onRemoveItem)="onClickRemoveItem($event)"
  (onChangeQuantity)="onChangeQuantity($event)"
></app-shopping-card-body>

<app-shopping-card-footer
  [subTotal]="subTotal"
  [tax]="tax"
  [total]="total"
  [promoMoney]="promoMoney"
  (onClickPromoCodeBtnEventEmitter)="onClickPromoCodeBtn($event)"
  (onClickCheckOutEventEmitter)="onClickCheckOutBtn()"
></app-shopping-card-footer>
