<div class="mat-tool-bar-container">
  <mat-toolbar color="primary">
    <!-- Group right buttons -->
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a href="#">Home</a>
    <a class="sub-link" (click)="onClickMyCourses()">My courses</a>
    <a class="sub-link" (click)="onClickExampleApps()">Example Apps</a>
    <a href="#" class="sub-link">About me</a>
    <a href="#" class="sub-link">Contact me</a>

    <!-- Group left buttons -->
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</div>
