.mat-tool-bar-container {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  z-index: 1000;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  .mat-toolbar {
    &.mat-primary {
      background: #1976d2;
    }
    a {
      margin-right: 10px;
      cursor: pointer;
      color: white;
      text-decoration: none;
      padding: 6px 8px;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.15);
      }
      &:active {
        background-color: #ff4081;
      }
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .sub-link {
      font-size: 1rem;
    }
  }
}
