mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

  .example-spacer {
    flex: 1 1 auto;
  }
}

.example-container {
  width: calc(100%);
  height: calc(100%);
  margin-top: 65px;

  a {
    text-decoration: none;
  }

  mat-drawer {
    width: 23vw;
  }

  mat-drawer-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
